@import "tailwindcss";

@theme {
  --color-weather-100: #f0f4ff; /*основной текст*/
  
  --color-weather-900: #121923;  /*фон*/
}

@layer base {
  body {
    background-color: var(--color-weather-900);
    color: white;
  }
}
